/*global*/


section {
    background-color: blanchedalmond;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: center;
}

.links a {
    color: black;
}